body {
    background-color: #F8FAFB;
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3 {
    color: #5D0E9F;
}

#image_of_joel {
    border-radius: 50%;
    height: 20%;
}

.profile-boxes {
    width: 50%;
    margin: 20px auto;
    padding: 5px 20px;
    text-align: center;
    background-color: #ffffff; 
    border-radius: 10px;
    box-shadow: 0.5px 0.5px 0.5px #AAA8A7; 
}

p {
    line-height: 25px;
    color: #57555F;
}

button {
    background-color: #5D0E9F;
    padding: 10px;
    border-radius: 8%;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 800;
    cursor: pointer;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
}

button:hover {
    box-shadow: 5px 5px 5px #DDC4DD;
}

.social-media-icons {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.fa {
    padding: 0px 10px 10px 10px;
    font-size: 40px;
    width: 30px;
    text-align: center;
    text-decoration: none;
  }
  
  .fa:hover {
      opacity: 0.7;
  }

  .fa-facebook {
    background: #ffffff;
    color: #AAA8A7;
  }
  
  .fa-twitter {
    background: #ffffff;
    color: #AAA8A7;
  }

  .fa-linkedin {
    background: #ffffff;
    color: #AAA8A7;
  }
  
  .fa-instagram {
    background: #ffffff;
    color: #AAA8A7;
  }